<app-navbar></app-navbar>
<div style="
    background-image: url('./assets/background.jpg');
    height: 1320px;
    background-size: cover;
    background-repeat: repeat-y;
">
    <div style="height: 1px"></div>
    <div 
    class="p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="
    margin-top: 99px;
    margin-right: auto;
    margin-left: auto;
    width: 50vh;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 200px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);"
    >
        <h1 class="mb-3 h1">J Russ</h1>
        <p>Software Engineer</p>
    </div>
    <div class="continer bg-primary rounded" style="margin: 10vh; padding: 2vh;">
        <div class="row">
            <div class="col-md-6">
                <h2 class="h2 text-light text-center">Highlighted Project</h2>
            </div>
            <!-- <div class="card bg-secondary">
                <img class="card-img-top" src="../../assets/card1.jpg" alt="Project 1 Picture">
                <div class="card-body">
                    <h4 class="card-title">Button Bay</h4>
                    <p class="card-text">Custom mixing console built on Raspberry Pi</p>
                    <a href="project/1" class="btn btn-primary">See Project</a>
                </div>
            </div> -->
            <div class="card mb-3 bg-secondary col-md-6" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/card1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Button Bay</h5>
                        <p class="card-text">Custom mixing console built on Raspberry Pi</p>
                        <a href="project/1" class="btn btn-primary">See Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footbar></app-footbar>