<app-navbar></app-navbar>
<div style="
    background-image: url('./assets/background.jpg');
    height: 1320px;
    background-size: cover;
    background-repeat: repeat-y;
">
    <div style="height: 1px"></div>
    <div 
    class="p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="
    margin-top: 99px;
    margin-right: auto;
    margin-left: auto;
    width: 50vh;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 200px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);"
    >
        <h1 class="mb-3 h1">J Russ</h1>
        <p>Software Engineer</p>
    </div>
    <div class="continer bg-primary rounded" style="margin: 10vh; padding: 5vh;">
        <div class="card-group">
            <div class="card bg-secondary">
                <img class="card-img-top" src="../../assets/card1.jpg" alt="Project 1 Picture">
                <div class="card-body">
                    <!-- <img class="card-img-top"  style="padding: 0px;" src="../../assets/card1.jpg" alt="Project 1 Picture"> -->
                    <h4 class="card-title">Button Bay</h4>
                    <p class="card-text">Custom mixing console built on Raspberry Pi</p>
                    <a href="project/1" class="btn btn-primary">See Project</a>
                </div>
            </div>

            <div class="card bg-secondary">
                <img class="card-img-top" src="../../assets/card2.jpg" alt="Project 2 Picture">
                <div class="card-body">
                    <!-- <img class="card-img-top" style="padding: 0px;" src="../../assets/card2.jpg" alt="Project 2 Picture"> -->
                    <h4 class="card-title">Van Gogh Vinyl</h4>
                    <p class="card-text">SCRUM/AGILE team web development</p>
                    <a href="project/2" class="btn btn-primary">See Project</a>
                </div>
            </div>

            <div class="card bg-secondary">
                <img class="card-img-top" src="../../assets/card3.png" alt="Project 3 Picture">
                <div class="card-body">
                    <!-- <img class="card-img-top" style="padding: 0px;" src="../../assets/card3.png" alt="Project 3 Picture"> -->
                    <h4 class="card-title">Active Feedback Compensation</h4>
                    <p class="card-text">JUCE-based feeback cancelation software</p>
                    <a href="project/3" class="btn btn-primary">See Project</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footbar></app-footbar>