
<div style="background-image: url('./assets/background.jpg'); height: 100vh; background-size: cover;">
    <div style="height: 100px"></div>
    <div 
    class="p-5 text-center shadow-1-strong rounded mb-5 text-white"
    style="
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 200px;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);"
    >
        <h1 class="mb-3 h2">J Russ</h1>
        <p>Software engineer</p>
    </div>
</div>
