<nav class="navbar navbar-expand bg-primary navbar-dark">

    <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav me-auto">
            <li>
                <a class="navbar-brand" id="btn1" href="home">
                    <img src="../../assets/pfp.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill">  
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="btn1" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="btn2" href="projects">Projects</a>
            </li>
            <li>
                <a class="nav-link" id="btn3" href="contact">Contact</a>
            </li>
            <li>
                <a class="nav-link" id="btn4" href="info">Resume & Other Info</a>
            </li>
            <!--This is where to add new navbar item-->
        </ul>
        <li>
            <a href="https://github.com/infinityspike" target="_blank">
                <img class="me-2" src="../../assets/github_icon.png" style="width:40px;">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/jtruss?trk=people-guest_people_search-card" target="_blank">
                <img class="me-2" src="../../assets/linkedin_icon.png" style="width:40px;">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/infinityspike/" target="_blank">
                <img class="me-2" src="../../assets/instagram_icon.png" style="width:40px;">
            </a>
        </li>
     </div>
  </nav>